/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FASTQC' {
        ext.when = { !(params.skip_tools && params.skip_tools.split(',').contains('fastqc')) }
        ext.args = '--quiet'
        publishDir = [
            [
                path: { "${params.outdir}/reports/fastqc/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*{html,zip}"
            ]
        ]
    }

        withName: 'FASTP' {
        ext.args = '--trim_poly_x --cut_tail --qualified_quality_phred 15'
        publishDir = [
            [
                path: { "${params.outdir}/reports/fastp/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*{html,json,log}"
            ],
            [
                path: { "${params.outdir}/trimmed/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*.fastp.fastq.gz",
                enabled: params.save_trimmed ?: false
            ]
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        ext.when   = { !(params.skip_tools && params.skip_tools.split(',').contains('multiqc')) }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        publishDir = [
            [
                path: { "${params.outdir}/reports/multiqc/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*{html,zip}"
            ]
        ]
    }

    withName: 'SAMTOOLS_FAIDX' {
        publishDir = [
            [
                path: { 
                    params.reference_dir ?: new File(params.fasta).parent
                },
                mode: params.publish_dir_mode,
                pattern: "*.fai",
                enabled: params.save_reference
            ]
        ]
    }

        withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        publishDir = [
            [
                path: { 
                    params.reference_dir ?: new File(params.fasta).parent
                },
                mode: params.publish_dir_mode,
                pattern: "*.dict",
                enabled: params.save_reference
            ]
        ]
    }

    withName: 'STAR_GENOMEGENERATE' {
        def sjdb_overhang = params.star_read_length? params.star_read_length - 1 : 50 - 1
        ext.args = [
            '--genomeSAindexNbases 14',
            '--genomeChrBinNbits 18',
            "--sjdbOverhang ${sjdb_overhang}"
        ].join(' ')
        publishDir = [
            path: {  "${params.outdir}/references/star_index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null }
        ]
    }

    withName: 'STAR_ALIGN' {
        def sjdb_overhang = params.star_read_length? params.star_read_length - 1 : 50 - 1
        ext.prefix = { "${meta.id}" }
        ext.args = [
            '--outSAMtype BAM SortedByCoordinate',
            '--limitBAMsortRAM 140880991368',
            '--outSAMattributes NH NM MD',
            '--outSAMunmapped Within',
            '--outSAMmapqUnique 60',
            '--outSAMtlen 2',
            '--outSJfilterCountUniqueMin -1 2 2 2',
            '--outSJfilterCountTotalMin -1 2 2 2',
            '--outFilterType BySJout',
            '--outFilterIntronMotifs RemoveNoncanonical',
            '--peOverlapNbasesMin 10',
            '--peOverlapMMp 0.1',
            '--chimSegmentMin 12',
            '--chimScoreDropMax 30',
            '--chimScoreSeparation 5',
            '--chimJunctionOverhangMin 12',
            '--chimOutType WithinBAM',
            '--chimSegmentReadGapMax 5',
            '--quantMode TranscriptomeSAM',
            '--quantTranscriptomeSAMoutput BanSingleEnd',
            '--twopassMode Basic',
            "--sjdbOverhang ${sjdb_overhang}",
            '--readFilesCommand zcat',
        ].join(' ')
        publishDir = [
            [
                path: { "${params.outdir}/alignment/star/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> (filename != 'versions.yml') ? filename : null }
            ]
        ]
    }

    withName: 'SALMON_INDEX' {
        ext.args   = { [
            params.salmon_gencode ? '--gencode' : '',
            params.salmon_pseudo_aligner_kmer_size ? "-k ${params.salmon_pseudo_aligner_kmer_size}": ''
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/references/salmon_index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename },  // ← Save the entire index
            enabled: true
        ]
    }
    
    withName: 'SALMON_QUANT' {
        ext.args = { 
            def base_args = '--seqBias --gcBias --posBias --numBootstraps 50'
            
            // Add fldMean and fldSD for single-end samples if provided in samplesheet
            if (meta.single_end && meta.fldMean && meta.fldSD) {
                base_args = base_args + " --fldMean ${meta.fldMean} --fldSD ${meta.fldSD}"
            }
            
            return base_args
        }
        publishDir = [
            [
                path: { "${params.outdir}/quant/salmon/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> (filename != 'versions.yml') ? filename : null }
            ]
        ]
    }
    
    withName: 'GATK4_HAPLOTYPECALLER' {
        ext.args = [
            '--dont-use-soft-clipped-bases',
            '--output-mode EMIT_ALL_ACTIVE_SITES',
            '--interval-padding 20',
            '--min-base-quality-score 1',
            '--pcr-indel-model CONSERVATIVE',
            '-stand-call-conf 0',
            '--max-reads-per-alignment-start 0'
        ].join(' ')
        publishDir = [
            [
                path: { "${params.outdir}/genotyping/haplotypecaller/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> (filename != 'versions.yml') ? filename : null }
            ]
        ]
    }

}
